<div>
  <h2>Class 12th Report Card of {{studName}}</h2>
</div>

<section>
  <table>
    <th><p>Subjects</p></th>
    <th><p>Marks</p></th>
    <tr>
      <td><p>Accounts</p></td>
      <td><p>{{accounts}}</p></td>
    </tr>
    <tr>
      <td><p>Business Studies</p></td>
      <td><p>{{business}}</p></td>
    </tr>
    <tr>
      <td><p>Economics</p></td>
      <td><p>{{economics}}</p></td>
    </tr>
    <tr>
      <td><p>English</p></td>
      <td><p>{{english}}</p></td>
    </tr>
    <tr>
      <td><p>Computer Science</p></td>
      <td><p>{{compScience}}</p></td>
    </tr>
    <th><p>Total %</p></th>
    <th><p>{{totalPer}}</p></th>
  </table>
</section>